@model IEnumerable<BarGanha.BLL.Models.Usuario>

<div class="tabelas">

    <partial name="_Confirmacoes" />

    <div class="collection with-header">

        <div class="collection-item">

            <table class="striped highlight">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            CPF
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Telefone
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td class="nada">
                                <a class="btn" style="background-color:#1d99ff; color:#fff;" asp-action="AtualizarAdm" asp-route-id="@item.Id">Editar</a>
                                @if (item.UserName == User.Identity.Name)
                                {
                                }
                                else
                                {
                                    <a class="btn" style="background-color:#ff0000; color:#fff;" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                                }
                                <a class="btn" style="background-color:#09294c; color:#fff;" asp-controller="Produtos" asp-action="Produtosconta" asp-route-id="@item.Id">Produtos cadastrados</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
