@model BarGanha.BLL.Models.Usuario

<partial name="_Confirmacoes" />

<div class="card horizontal">
    
    <div class="card-stacked">
        <div class="card-content">
            <div class="row">
                <div class="col s6">
                    <span class="card-text purple-text darken-3">Nome - @Model.UserName</span>
                </div>
                <div class="col s6">
                    <span class="card-text purple-text darken-3">Email - @Model.Email</span>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <span class="card-text purple-text darken-3">CPF - @Model.CPF</span>
                </div>
                <div class="col s6">
                    <span class="card-text purple-text darken-3">Telefone - @Model.PhoneNumber</span>
                </div>
            </div>
        </div>

        <div class="card-action">
            <a asp-controller="Usuarios" asp-action="Atualizar" asp-route-id="@Model.Id" class="btn-small purple darken-3">Atualizar</a>
        </div>
    </div>
</div>

<div>
    <partial name="_ModalExcluir" />
</div>


    <script>
        function ConfirmarExclusao(id, nome) {
            $('.modal').modal({
                dismissble: true
            });

            $('#modal').modal('open');
            $(".nome").text(nome);                                
        }
    </script>
