<div class="product-profile-box">
    <div class="container">
        <div class="row">            
            <div class="col-md-12 col-sm-10">
                <div>
                    <h1>@Model.UserName <span class="check-box"></span></h1>
                </div>
                <div class="panel-body">
                    <div class="about-box">
                        <h2>Minhas informações</h2>
                        <div class="col-md-6 col-sm-5">
                            <h4>Nome</h4>
                            <p>@Model.UserName</p>
                        </div>
                        <div class="col-md-6 col-sm-5">
                            <h4>Email</h4>
                            <p>@Model.Email</p>
                        </div>
                        <div class="col-md-6 col-sm-5">
                            <h4>CPF</h4>
                            <p>@Model.CPF</p>
                        </div>
                        <div class="col-md-6 col-sm-5">
                            <h4>Telefone</h4>
                            <p>@Model.PhoneNumber</p>
                        </div>
                    </div>
                    <a class="btn" asp-controller="Usuarios" asp-action="Atualizar" asp-route-id="@Model.Id" style="background: #09294c; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Atualizar</a>
                    
                </div>
            </div>
            </div>
        </div>
    </div>
