@using Microsoft.AspNetCore.Identity
@using BarGanha.BLL.Models
@inject SignInManager<Usuario> SignInManager

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>@ViewBag.produto.NomeProduto</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Detail  -->
<div class="container mt-3">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6">
            <img src="~/images/@ViewBag.produto.ImagemProduto" class="img-fluid" style="height: 82%; width: 100%;" ; alt="Image" asp-append-version="true" />
        </div>

        <div class="col-xl-8 col-lg-8 col-md-6">
            <div class="single-product-details p-3" style="background-color: #FFFFEB;">
                <h2>@ViewBag.produto.NomeProduto</h2>
                <h4 style="margin-top:-4px">De <span style="color:#0026ff">@ViewBag.dono.UserName </span></h4>

                <h5 class="mt-1 mb-1">R$ @ViewBag.produto.Preco</h5>

                <h5 class="mt-1 mb-1" style="color:#000000">Localizado em: @ViewBag.produto.Cidade / @ViewBag.produto.Estado</h5>

                <div class="card p-1">
                    <h4 style="margin-top:-3px">Descrição</h4>
                    <p style="height: 111px; overflow-y: auto" class="px-1">
                        @ViewBag.produto.Descricao
                    </p>
                </div>

                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="row justify-content-end">
                        <a class="btn hvr-hover mt-2 mr-2" style="background-color: #d33b33; color: #fff;" asp-controller="Ofertas" asp-action="Create" asp-route-id="@ViewBag.produto.ProdutoId">Trocar com usuario</a>
                    </div>
                }

            </div>
        </div>
    </div>
   
    <script src="~/js/drag_drop.js" defer></script>
</div>
<!-- End Cart -->