@model IEnumerable<BarGanha.BLL.Models.Produto>
@{ var id = ViewBag.Id;
        }
<div class="furniture-box">
    <div class="terms-title">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a asp-area="" asp-controller="Produtos" asp-action="Index">Inicial </a></li>
                    <li class="active">Meus Produtos</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="furniture-main">
                <h2>Meus Produtos</h2>                
                <div class="col-md-9 col-sm-8 furniture-middle">
                        <div class="row cat-pd">
                            @foreach (var item in Model)
                            {
                                @if (@item.UsuarioId == id)
                                {
                                    <div class="col-md-4 col-sm-4">
                                        <div class="small-box-d">
                                            <div class="small-img-b">
                                                @if (@item.ImagemProduto != null || @item.ImagemProduto == "")
                                                {
                                                    <img src="~/images/@item.ImagemProduto" asp-append-version="true" />
                                                }
                                                else
                                                {
                                                    <img src="~/images/footer_bg.png" asp-append-version="true" />
                                                }
                                            </div>
                                            <div class="dit-t clearfix">
                                                <div class="left-ti">
                                                    <h4>@Html.DisplayFor(modelItem => item.NomeProduto)</h4>
                                                </div>
                                                <a style="background-color:#09294c; color:#fff;" asp-action="Details" asp-route-id="@item.ProdutoId">Visualizar</a>
                                            </div>                                            
                                            <div class="dit-t">
                                                <div class="meio">
                                                    <a style="background-color:#FFFFF0; color:#09294c;" asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a>
                                                    <a style="background-color:#ff0000; color:#fff;" asp-action="Delete" asp-route-id="@item.ProdutoId">Excluir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else { }

                             }
                        </div>
                        <a class="btn" style="background-color:#09294c; color:#fff;" asp-controller="Produtos" asp-action="Create">Cadastrar Produto</a>
                        <a class="btn" style="background-color:#1d99ff; color:#fff;" asp-controller="Produtos" asp-action="Index">Voltar</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 2000,
            values: [158, 1230],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#slider-range").slider("values", 0) +
            " - $" + $("#slider-range").slider("values", 1));
    });
</script>
<script src="js/jquery.nicescroll.min.js"></script>
<script>
    $(document).ready(function () {
        $("#boxscroll").niceScroll({ cursorborder: "", cursorcolor: "#ededed", boxzoom: true }); // First scrollable DIV
    });
</script>