@{
    var meusProdutos = ViewBag.meusProdutos;
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>MEUS PRODUTOS</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="container mt-2">
    <div class="row justify-content-end mb-2" style="padding-right:15px">
        <a class="btn hvr-hover" style="background-color: #d33b33; color: #fff;" asp-controller="Produtos" asp-action="Create">Adicionar Produto</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="text-center">Anuncio</th>
                <th scope="col" class="text-center">Produto</th>
                <th scope="col" class="text-center">Preço Estimado</th>
                <th scope="col" colspan="3" class="text-center">Descrição</th>
                <th scope="col" class="text-center">Ações</th>

            </tr>
        </thead>
        <tbody>
            @if (meusProdutos.Count > 0)
            {
                @foreach (var produto in meusProdutos)
                {

                    <tr>
                        <td class="text-center">
                            <img src="~/images/@produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                        </td>
                        <td class="text-center">
                            @if (produto.Anunciar)
                            {
                                <span class="badge badge-success">Anunciado</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Não Anunciado</span>
                            }
                        </td>
                        <td class="text-center">@produto.NomeProduto</td>
                        <td class="text-center">R$ @produto.Preco</td>
                        <td colspan="3" class="text-center">@produto.Descricao</td>
                        <td class="text-center">
                            <a class="btn btn-sm" style="background-color:#ff6a00; color:#ffffff;" asp-action="Edit" asp-route-id="@produto.ProdutoId">Editar</a>

                            <a class="btn btn-sm" style="background-color:#0026ff; color:#ffffff;" asp-action="ChangeAnunciar" asp-route-id="@produto.ProdutoId">
                                @if (produto.Anunciar)
                                {
                                    <span>Remover Anuncio</span>
                                }
                                else
                                {
                                    <span>Anunciar</span>
                                }
                            </a>

                            <a class="btn btn-sm" style="background-color:#d33b33; color:#ffffff;" asp-action="Delete" asp-route-id="@produto.ProdutoId">Deletar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">Nenhum produto registrado</td>
                </tr>
            }
        </tbody>
    </table>
</div>