<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>TROCAS</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="container mt-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="9" class="text-center">Trocas enviadas finalizadas</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col" class="text-center">Usuario</th>
                <th scope="col" colspan="3" class="text-center">Produtos Selecionados</th>
                <th scope="col" colspan="3" class="text-center">Produtos Ofertados</th>
                <th scope="col" class="text-center">Ações</th>

            </tr>
        </thead>
        <tbody>
            @if (@ViewBag.trocasEnviadas.Count > 0)
            {
                @foreach (var trocaEnv in @ViewBag.trocasEnviadas)
                {
                    <tr>
                        <td class="text-center">
                            @trocaEnv.UserDono.UserName
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-around">
                                @foreach (var produtoSelecionado in trocaEnv.Oferta.produtosSelecionados)
                                {
                                <div class="cols-4">
                                    <div>
                                        <img src="~/images/@produtoSelecionado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                    </div>

                                    <div>
                                        @produtoSelecionado.produto.NomeProduto
                                    </div>

                                    <div style="margin-top:-3px">
                                        R$ @produtoSelecionado.produto.Preco
                                    </div>
                                    
                                    <div style="margin-top:-3px">
                                        @produtoSelecionado.produto.Cidade / @produtoSelecionado.produto.Estado
                                    </div>
                                </div>
                                }
                            </div>
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-around">
                                @foreach (var produtoOfertado in trocaEnv.Oferta.produtosOfertados)
                                {
                                <div class="cols-4">
                                    <div>
                                        <img src="~/images/@produtoOfertado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                    </div>

                                    <div>
                                        @produtoOfertado.produto.NomeProduto
                                    </div>

                                    <div style="margin-top:-3px">
                                        R$ @produtoOfertado.produto.Preco
                                    </div>

                                    <div style="margin-top:-3px">
                                        @produtoOfertado.produto.Cidade / @produtoOfertado.produto.Estado
                                    </div>
                                </div>
                                }
                            </div>
                        </td>
                        <td class="text-center">
                            @if (!trocaEnv.Liberado)
                            {
                                <div class="mb-1">
                                    <a class="btn btn-sm" style="background-color:blue; color:#ffffff;" asp-controller="Trocas" asp-action="Liberar" asp-route-id="@trocaEnv.TrocaId">Liberar dados p/ comunicaçao</a>
                                </div>

                                <div>
                                    <a class="btn btn-sm" style="background-color:#d33b33; color:#ffffff;" onclick="return confirm('Tem certeza que deseja cancelar esta troca?');" asp-controller="Trocas" asp-action="Delete" asp-route-id="@trocaEnv.TrocaId">Cancelar Troca</a>
                                </div>
                            }
                            else
                            {
                                <span class="badge badge-warning">Aguarde o contato de @trocaEnv.UserDono.UserName</span>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">Nenhuma troca enviada finalizada</td>
                </tr>
            }
        </tbody>
    </table>
    &nbsp
    &nbsp
    &nbsp
    &nbsp
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="9" class="text-center">Trocas recebidas finalizadas</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col" class="text-center">Usuario</th>
                <th scope="col" colspan="3" class="text-center">Produtos Selecionados</th>
                <th scope="col" colspan="3" class="text-center">Produtos Ofertados</th>
                <th scope="col" class="text-center">Ações</th>

            </tr>
        </thead>
        <tbody>
            @if (@ViewBag.trocasRecebidas.Count > 0)
            {
                @foreach (var trocaRec in @ViewBag.trocasRecebidas)
                {
                    <tr>
                        <td class="text-center">
                            @trocaRec.UserOferta.UserName
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-around">
                                @foreach (var produtoSelecionado in trocaRec.Oferta.produtosSelecionados)
                                {
                                    <div class="cols-4">
                                        <div>
                                            <img src="~/images/@produtoSelecionado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                        </div>

                                        <div style="margin-top:-3px">
                                            @produtoSelecionado.produto.NomeProduto
                                        </div>

                                        <div style="margin-top:-3px">
                                            R$ @produtoSelecionado.produto.Preco
                                        </div>

                                        <div style="margin-top:-3px">
                                            @produtoSelecionado.produto.Cidade / @produtoSelecionado.produto.Estado
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-around">
                                @foreach (var produtoOfertado in trocaRec.Oferta.produtosOfertados)
                                {
                                    <div class="cols-4">
                                        <div>
                                            <img src="~/images/@produtoOfertado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                        </div>

                                        <div>
                                            @produtoOfertado.produto.NomeProduto
                                        </div>

                                        <div style="margin-top:-3px">
                                            R$ @produtoOfertado.produto.Preco
                                        </div>

                                        <div style="margin-top:-3px">
                                            @produtoOfertado.produto.Cidade / @produtoOfertado.produto.Estado
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>

                        <td class="text-center">
                            @if (@trocaRec.Liberado)
                            {
                                <div class="mb-1">
                                    <a id="dadosUsuarioModal" href="#dadosUsuarioModal" data-toggle="modal" title="Desatribuir conciliadores de Analista" class="btn btn-sm" style="background-color:blue; color:#ffffff;">Dados p/ comunicaçao</a>
                                </div>
                            }
                            else
                            {
                                <div class="mb-1">
                                    <a class="btn btn-sm" readonly style="background-color:gray; color:#ffffff;">Aguardando dados p/ comunicaçao</a>
                                </div>

                                <div>
                                    <a class="btn btn-sm" style="background-color:#d33b33; color:#ffffff;" onclick="return confirm('Tem certeza que deseja cancelar esta troca?');" asp-controller="Trocas" asp-action="Delete" asp-route-id="@trocaRec.TrocaId">Cancelar Troca</a>
                                </div>
                            }
                        </td>
                    </tr>
                    <!-- #modal-alert -->
                    <div class="modal fade" id="dadosUsuarioModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h2>Dados de @trocaRec.UserOferta.UserName</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <p class="font-weight-bold">
                                        Nome completo: <span class="font-weight-normal">@trocaRec.UserOferta.NomeCompleto</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        Apelido: <span class="font-weight-normal">@trocaRec.UserOferta.UserName</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        Email: <span class="font-weight-normal">@trocaRec.UserOferta.Email</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        CPF: <span class="font-weight-normal">@trocaRec.UserOferta.CPF</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        Telefone: <span class="font-weight-normal">@trocaRec.UserOferta.PhoneNumber</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        Logradouro: <span class="font-weight-normal">@trocaRec.UserOferta.Logradouro</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        Numero: <span class="font-weight-normal">@trocaRec.UserOferta.Numero</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        Bairro: <span class="font-weight-normal">@trocaRec.UserOferta.Bairro</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        CEP: <span class="font-weight-normal">@trocaRec.UserOferta.CEP</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        Complemento: <span class="font-weight-normal">@trocaRec.UserOferta.Complemento</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        Cidade: <span class="font-weight-normal">@trocaRec.UserOferta.Cidade</span>
                                    </p>

                                    <p class="font-weight-bold">
                                        Estado: <span class="font-weight-normal">@trocaRec.UserOferta.Estado</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">Nenhuma oferta de troca enviada</td>
                </tr>
            }
        </tbody>
    </table>
</div>