<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>TROCAS</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="container mt-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="9" class="text-center">Trocas enviadas finalizadas</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col" class="text-center">Usuario</th>
                <th scope="col" colspan="3" class="text-center">Produtos Selecionados</th>
                <th scope="col" colspan="3" class="text-center">Produtos Ofertados</th>
                <th scope="col" class="text-center">Ações</th>

            </tr>
        </thead>
        <tbody>
            @if (@ViewBag.trocasEnviadas.Count > 0)
            {
                @foreach (var trocaEnv in @ViewBag.trocasEnviadas)
                {
                    <tr>
                        <td class="text-center">
                            @trocaEnv.UserDono.UserName
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-center">
                                @foreach (var produtoSelecionado in trocaEnv.Oferta.produtosSelecionados)
                                {
                                    <div class="cols-4">
                                        <div>
                                            <img src="~/images/@produtoSelecionado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                        </div>

                                        <div>
                                            @produtoSelecionado.produto.NomeProduto
                                        </div>

                                        <div>
                                            R$ @produtoSelecionado.produto.Preco
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-center">
                                @foreach (var produtoOfertado in trocaEnv.Oferta.produtosOfertados)
                                {
                                    <div class="cols-4">
                                        <div>
                                            <img src="~/images/@produtoOfertado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                        </div>

                                        <div>
                                            @produtoOfertado.produto.NomeProduto
                                        </div>

                                        <div>
                                            R$ @produtoOfertado.produto.Preco
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>
                        <td class="text-center">
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">Nenhuma troca enviada finalizada</td>
                </tr>
            }
        </tbody>
    </table>
    &nbsp
    &nbsp
    &nbsp
    &nbsp
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="9" class="text-center">Trocas recebidas finalizadas</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col" class="text-center">Usuario</th>
                <th scope="col" colspan="3" class="text-center">Produtos Selecionados</th>
                <th scope="col" colspan="3" class="text-center">Produtos Ofertados</th>
                <th scope="col" class="text-center">Ações</th>

            </tr>
        </thead>
        <tbody>
            @if (@ViewBag.trocasRecebidas.Count > 0)
            {
                @foreach (var trocaRec in @ViewBag.trocasRecebidas)
                {
                    <tr>
                        <td class="text-center">
                            @trocaRec.UserOferta.UserName
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-center">
                                @foreach (var produtoSelecionado in trocaRec.Oferta.produtosSelecionados)
                                {
                                    <div class="cols-4">
                                        <div>
                                            <img src="~/images/@produtoSelecionado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                        </div>

                                        <div>
                                            @produtoSelecionado.produto.NomeProduto
                                        </div>

                                        <div>
                                            R$ @produtoSelecionado.produto.Preco
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-center">
                                @foreach (var produtoOfertado in trocaRec.Oferta.produtosOfertados)
                                {
                                    <div class="cols-4">
                                        <div>
                                            <img src="~/images/@produtoOfertado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                        </div>

                                        <div>
                                            @produtoOfertado.produto.NomeProduto
                                        </div>

                                        <div>
                                            R$ @produtoOfertado.produto.Preco
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>
                        <td class="text-center">
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">Nenhuma oferta de troca enviada</td>
                </tr>
            }
        </tbody>
    </table>
</div>