<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>OFERTAS</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="container mt-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="9" class="text-center">Ofertas de troca enviadas</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Usuario</th>
                <th scope="col" colspan="3" class="text-center">Produtos Selecionados</th>
                <th scope="col" colspan="3" class="text-center">Produtos Ofertados</th>
                <th scope="col" class="text-center">Ações</th>

            </tr>
        </thead>
        <tbody>
            @if (@ViewBag.ofertasEnviadas.Count > 0)
            {
                @foreach (var ofertaEnv in @ViewBag.ofertasEnviadas)
                {
                    <tr>
                        <td class="text-center align-content-center">
                            @if (ofertaEnv.Status == 1)
                            {
                                <span class="badge badge-warning">Pendente</span>
                            }
                            else if (ofertaEnv.Status == 3)
                            {
                                <span class="badge badge-danger">Reprovado</span>
                            }
                        </td>

                        <td class="text-center">
                            @ofertaEnv.UserDono.UserName
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-around">
                                @foreach (var produtoSelecionado in ofertaEnv.produtosSelecionados)
                                {
                                <div class="cols-4">
                                    <div>
                                        <img src="~/images/@produtoSelecionado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                    </div>

                                    <div>
                                        @produtoSelecionado.produto.NomeProduto
                                    </div>

                                    <div style="margin-top:-3px">
                                        R$ @produtoSelecionado.produto.Preco
                                    </div>

                                    <div style="margin-top:-3px">
                                        @produtoSelecionado.produto.Cidade / @produtoSelecionado.produto.Estado
                                    </div>
                                </div>
                                }
                            </div>
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-around">
                                @foreach (var produtoOfertado in ofertaEnv.produtosOfertados)
                                {
                                <div class="cols-4">
                                    <div>
                                        <img src="~/images/@produtoOfertado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                    </div>

                                    <div>
                                        @produtoOfertado.produto.NomeProduto
                                    </div>

                                    <div style="margin-top:-3px">
                                        R$ @produtoOfertado.produto.Preco
                                    </div>

                                    <div style="margin-top:-3px">
                                        @produtoOfertado.produto.Cidade / @produtoOfertado.produto.Estado
                                    </div>
                                </div>
                                }
                            </div>
                        </td>
                        <td class="text-center">
                            @if (ofertaEnv.Status != 2)
                            {
                                <a class="btn btn-sm" style="background-color:#d33b33; color:#ffffff;" onclick="return confirm('Tem certeza que deseja excluir esta oferta?');" asp-controller="Ofertas" asp-action="Delete" asp-route-id="@ofertaEnv.OfertaId">Excluir Oferta</a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">Nenhuma oferta de troca enviada</td>
                </tr>
            }
        </tbody>
    </table>
    &nbsp
    &nbsp
    &nbsp
    &nbsp
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="9" class="text-center">Ofertas de troca recebidas</th>
            </tr>
        </thead>

        <thead>
            <tr>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Usuario</th>
                <th scope="col" colspan="3" class="text-center">Produtos Selecionados</th>
                <th scope="col" colspan="3" class="text-center">Produtos Ofertados</th>
                <th scope="col" class="text-center">Ações</th>

            </tr>
        </thead>

        <tbody>
            @if (@ViewBag.ofertasRecebidas.Count > 0)
            {
                @foreach (var ofertaRec in @ViewBag.ofertasRecebidas)
                {
                    <tr>
                        <td class="text-center align-content-center">
                            @if (ofertaRec.Status == 1)
                            {
                                <span class="badge badge-warning">Pendente</span>
                            }
                            else if (ofertaRec.Status == 3)
                            {
                                <span class="badge badge-danger">Reprovado</span>
                            }
                        </td>

                        <td class="text-center">
                            @ofertaRec.UserOferta.UserName
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-around">
                                @foreach (var produtoSelecionado in ofertaRec.produtosSelecionados)
                                {
                                <div class="cols-4">
                                    <div>
                                        <img src="~/images/@produtoSelecionado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                    </div>

                                    <div>
                                        @produtoSelecionado.produto.NomeProduto
                                    </div>

                                    <div style="margin-top:-3px">
                                        R$ @produtoSelecionado.produto.Preco
                                    </div>

                                    <div style="margin-top:-3px">
                                        @produtoSelecionado.produto.Cidade / @produtoSelecionado.produto.Estado
                                    </div>
                                </div>
                                }
                            </div>
                        </td>

                        <td colspan="3">
                            <div class="row ml-2 text-center justify-content-around">
                                @foreach (var produtoOfertado in ofertaRec.produtosOfertados)
                                {
                                <div class="cols-4">
                                    <div>
                                        <img src="~/images/@produtoOfertado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                    </div>

                                    <div>
                                        @produtoOfertado.produto.NomeProduto
                                    </div>

                                    <div style="margin-top:-3px">
                                        R$ @produtoOfertado.produto.Preco
                                    </div>

                                    <div style="margin-top:-3px">
                                        @produtoOfertado.produto.Cidade / @produtoOfertado.produto.Estado
                                    </div>
                                </div>
                                }
                            </div>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-sm" style="background-color:green; color:#ffffff;" asp-controller="Ofertas" asp-action="Aprovar" asp-route-id="@ofertaRec.OfertaId">Aprovar</a>
                            @if (ofertaRec.Status != 3)
                            {
                                <a class="btn btn-sm" style="background-color:#d33b33; color:#ffffff;" asp-controller="Ofertas" asp-action="Reprovar" asp-route-id="@ofertaRec.OfertaId">Reprovar</a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">Nenhuma oferta de troca recebida</td>
                </tr>
            }
        </tbody>
    </table>
</div>