<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>OFERTAS</h2>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<div class="container mt-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" colspan="7" class="text-center">Ofertas de troca enviadas</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Produto</th>
                <th scope="col" colspan="4" class="text-center">Produtos Ofertados</th>
                <th scope="col" class="text-center">Ações</th>

            </tr>
        </thead>
        <tbody>
            @if (@ViewBag.ofertas.Count > 0)
            {
                @foreach (var oferta in @ViewBag.ofertas)
                {
                    <tr>
                        <td class="text-center align-content-center">
                            @if (oferta.Status == 1)
                            {
                                <span class="badge badge-warning">Pendente</span>
                            }
                            else if(oferta.Status == 2)
                            {
                                <span class="badge badge-warning">Aprovado</span>
                            }
                        </td>
                        <td class="text-center">
                            <div>
                                <img src="~/images/@oferta.Produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                            </div>

                            <div>
                                @oferta.Produto.NomeProduto
                            </div>

                            <div>
                                R$ @oferta.Produto.Preco
                            </div>
                        </td>
                        <td colspan="4">

                            <div class="row ml-2 text-center justify-content-center">
                                @foreach (var produtoOfertado in oferta.produtosOfertados)
                                {
                                    <div class="cols-4">
                                        <div>
                                            <img src="~/images/@produtoOfertado.produto.ImagemProduto" width="80px" height="80px" asp-append-version="true" />
                                        </div>

                                        <div>
                                            @produtoOfertado.produto.NomeProduto
                                        </div>

                                        <div>
                                            R$ @produtoOfertado.produto.Preco
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>
                        <td class="text-center">
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">Nenhum produto registrado</td>
                </tr>
            }
        </tbody>
    </table>
</div>