<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-left">
            <img src="~/images/banner-slider/banner-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>BarGanha<br> Aqui ninguém fica sem!</strong></h1>
                        <p class="m-b-40 font-weight-bold" style="font-size:36px">Crie uma conta agora!</p>
                        <p><a class="btn hvr-hover" onclick="location.href='@Url.Action("Registro", "Usuarios")'">Criar uma conta</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/images/banner-slider/banner-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>BarGanha<br> Aqui Ninguém fica sem!</strong></h1>
                        <p class="m-b-40 font-weight-bold" style="font-size:36px">Crie uma conta agora!</p>
                        <p><a class="btn hvr-hover" onclick="location.href='@Url.Action("Registro", "Usuarios")'">Criar uma conta</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-right">
            <img src="~/images/banner-slider/banner-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>BarGanha<br> Aqui ninguém fica sem!</strong></h1>
                        <p class="m-b-40 font-weight-bold" style="font-size:36px">Crie uma conta agora!</p>
                        <p><a class="btn hvr-hover" onclick="location.href='@Url.Action("Registro", "Usuarios")'">Criar uma conta</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fas fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->

<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Produtos em Destaque</h1>''
                    <p>Veja o que esta quente na BarGanha nesse exato momento!</p>
                </div>
            </div>
        </div>
        <div class="row special-list">
            @foreach (var produto in ViewBag.produtos)
            {
                <div class="col-lg-3 col-md-6 special-grid">
                    <div class="products-single fix" style="border:1.5px solid black">
                        <div class="type-lb">
                            <p class="new">NOVO</p>
                        </div>
                        <div class="box-img-hover">
                            <img src="~/images/@produto.ImagemProduto" height="220px" width="100%" alt="Image">
                            <div class="mask-icon">
                                <a class="cart" asp-controller="Produtos" asp-action="Details" asp-route-id="@produto.ProdutoId">Visualizar</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>@produto.NomeProduto</h4>
                            <h5 style="color:red">R$ @produto.Preco</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Products  -->
    
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img src="~/images/6-itens/1.jpg" height="300px" alt="" />
                    <form class="row" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="5" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Veiculos</button>
                    </form>
                </div>

                <div class="shop-cat-box">
                    <img src="~/images/6-itens/2.jpg" height="300px" alt="" />
                    <form class="row" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="1" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Móveis</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img src="~/images/6-itens/3.jpg" height="300px" alt="" />
                    <form class="row" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="3" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Eletrodomésticos</button>
                    </form>
                </div>
                <div class="shop-cat-box">
                    <img src="~/images/6-itens/4.jpg" height="300px" alt="" />
                    <form class="row" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="2" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Eletrônicos</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img src="~/images/6-itens/5.jpg" height="300px" alt="" />
                    <form class="row" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="4" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Vestuários</button>
                    </form>
                </div>

                <div class="shop-cat-box">
                    <img src="~/images/6-itens/6.jpg" height="300px" alt="" />
                    <form class="row" style="margin-bottom:-3px" asp-controller="Produtos" asp-action="Index">
                        <input style="display:none" name="categoria" value="6" />
                        <button class="btn hvr-hover" style="width:100%; color:#ffffff" type="submit"> Outros</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->